$c-green: #a7bb38;
$c-teal: #20a5ac;
$c-orange: #ee9105;
$c-yellow: #edb406;
$c-red: #cd2941;
$c-blue: #006581;


@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");


.myQuote{
	font-family: "Pacifico", cursive;
	// font-family: 'Bungee', cursive;
	font-size: 3rem;
	line-height: .95em;

	box-sizing: border-box;
	margin: 0;
	padding: .35em .5em;

	color: $c-red;

	*[contentEditable="true"]{
		display: block;

		min-height: 1em;
		padding: .35em .5em;

		white-space: pre-wrap;

		border: 1px black dotted;
		&::selection{
			color: white;
			background: $c-teal;
		}
	}
}

.myQuoteFooter{
	font-family: sans-serif;
	font-size: .65em;

	content: "";
	text-align: right;

	color: black;
}

@supports (background-clip: text){
	.myQuote{
		color: transparent;
		background: linear-gradient(135deg, #{$c-yellow} -30%, #{$c-red} 40%, #{$c-blue} 100%);
		background-clip: text;
	}
}
